In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "Marketing", "Marketing", "Sales", "Sales"],
    "Team": ["A", "A", "B", "B", "C", "C", "D", "D"],
    "Gender": ["M", "F", "M", "F", "M", "F", "M", "F"],
    "Salary": [85000, 90000, 78000, 85000, 92000, 88000, 75000, 80000],
    "Age": [23, 25, 30, 22, 28, 26, 21, 27],
    "JoinDate": pd.to_datetime([
        "2020-01-10", "2020-02-15", "2021-03-20", "2021-04-10",
        "2020-05-30", "2020-06-25", "2021-07-15", "2021-08-01"
    ])
})  
print(df)

  Department Team Gender  Salary  Age   JoinDate
0         HR    A      M   85000   23 2020-01-10
1         HR    A      F   90000   25 2020-02-15
2         IT    B      M   78000   30 2021-03-20
3         IT    B      F   85000   22 2021-04-10
4  Marketing    C      M   92000   28 2020-05-30
5  Marketing    C      F   88000   26 2020-06-25
6      Sales    D      M   75000   21 2021-07-15
7      Sales    D      F   80000   27 2021-08-01

In [10]:
print(df.groupby(["Department"])["Salary"].mean())
print(df.groupby(["Department"])["Salary"].max())
print(df.groupby(["Department"])["Salary"].agg(['min', 'max', 'mean', 'count', 'sum', 'std', 'var', 'median', 'prod', 'first', 'last', 'nunique', 'sem', 'skew', 'quantile',]))

Department
HR           87500.0
IT           81500.0
Marketing    90000.0
Sales        77500.0
Name: Salary, dtype: float64
Department
HR           90000
IT           85000
Marketing    92000
Sales        80000
Name: Salary, dtype: int64
              min    max     mean  count     sum          std         var  \
Department
HR          85000  90000  87500.0      2  175000  3535.533906  12500000.0
IT          78000  85000  81500.0      2  163000  4949.747468  24500000.0
Marketing   88000  92000  90000.0      2  180000  2828.427125   8000000.0
Sales       75000  80000  77500.0      2  155000  3535.533906  12500000.0

             median        prod  first   last  nunique     sem  skew  quantile
Department
HR          87500.0  7650000000  85000  90000        2  2500.0   NaN   87500.0
IT          81500.0  6630000000  78000  85000        2  3500.0   NaN   81500.0
Marketing   90000.0  8096000000  92000  88000        2  2000.0   NaN   90000.0
Sales       77500.0  6000000000  75000  80000        2  2500.0   NaN   77500.0

In [11]:
df.groupby("Team")["Salary"].agg(
    avg_score="mean",
    high_score="max"
)

      avg_score  high_score
Team
A       87500.0       90000
B       81500.0       85000
C       90000.0       92000
D       77500.0       80000

In [12]:
df["Tean_avg"] = df.groupby("Team")["Salary"].transform("mean")
print(df)

  Department Team Gender  Salary  Age   JoinDate  Tean_avg
0         HR    A      M   85000   23 2020-01-10   87500.0
1         HR    A      F   90000   25 2020-02-15   87500.0
2         IT    B      M   78000   30 2021-03-20   81500.0
3         IT    B      F   85000   22 2021-04-10   81500.0
4  Marketing    C      M   92000   28 2020-05-30   90000.0
5  Marketing    C      F   88000   26 2020-06-25   90000.0
6      Sales    D      M   75000   21 2021-07-15   77500.0
7      Sales    D      F   80000   27 2021-08-01   77500.0

In [13]:
df.groupby("Team").filter(lambda x: x["Salary"].mean() > 85000)

  Department Team Gender  Salary  Age   JoinDate  Tean_avg
0         HR    A      M   85000   23 2020-01-10   87500.0
1         HR    A      F   90000   25 2020-02-15   87500.0
4  Marketing    C      M   92000   28 2020-05-30   90000.0
5  Marketing    C      F   88000   26 2020-06-25   90000.0