In [3]:
import pandas as pd

### Series

In [6]:
s = pd.Series([40,60, 68, 72, 85, 93, 31, 34, 23, 45])
print(s)
print(type(s))

0    40
1    60
2    68
3    72
4    85
5    93
6    31
7    34
8    23
9    45
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
s1 = pd.Series([29, 35, 46, 52, 61], index = ["Ayush", "Rohan", "Ankit", "Sagar", "Vikram"])
print(s1)
print(type(s1))
print(s1["Ayush"])
print(s1[0])

Ayush     29
Rohan     35
Ankit     46
Sagar     52
Vikram    61
dtype: int64
<class 'pandas.core.series.Series'>
29
29

C:\Users\Ayush Kumar\AppData\Local\Temp\ipykernel_19892\3273410577.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s1[0])

### DataFrame

In [10]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore