In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = [["Ayush", 29], ["Rohan", 35], ["Ankit", 46], ["Sagar", 52], ["Vikram", 61]]
print(data)

In [ ]:
df = pd.DataFrame(data, columns=["Name", "Marks"])
print(df)

In [ ]:
data1 = { "Name": ["Ayush", "Rohan", "Ankit", "Sagar", "Vikram"],
          "Marks": [29, 35, 46, 52, 61],
          "City": ["Delhi", "Mumbai", "Bangalore", "Chennai", "Kolkata"]}
print(data1)

In [ ]:
df1 = pd.DataFrame(data1)
print(df1)

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(arr)

In [ ]:
df2 = pd.DataFrame(arr, columns=["A", "B", "C"])
print(df2)

In [ ]:
df3 = pd.read_excel('data.xlsx')
print(df3)

In [ ]:
csv_df = pd.read_csv("data.csv")
print(csv_df)

### EDA (Exploratory Data Analysis)

In [13]:
df4 = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")
print(df4)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
print(df4.head())
print(df4.tail())
print(df4.sample(5))

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2
     total_bill   tip     sex smoker   day    time  size
66        16.45  2.47  Female     No   Sat  Dinner     2
143       27.05  5.00  Female     No  Thur   Lunch     6
214       28.17  6.50  Female    Yes   Sat  Dinner     3
9         14.78  3.23    Male     No   Sun  Dinner     2
212       48.33  9.00    Male     No   Sat  Dinner     4

In [17]:
print(df4.info())
print(df4.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB
None
       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [18]:
print(df4.columns)
print(df4.index)
print(df4.dtypes)
print(df4.shape)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')
RangeIndex(start=0, stop=244, step=1)
total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object
(244, 7)