In [1]:
import pandas as pd

In [2]:
employees = pd.DataFrame({
    "EmpID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"],
    "DeptID": [10, 20, 30]
})

departments = pd.DataFrame({
    "DeptID": [10, 20, 40],
    "DeptName": ["HR", "Engineering", "Marketing"]
})

In [3]:
print(employees)
print(departments)

   EmpID     Name  DeptID
0      1    Alice      10
1      2      Bob      20
2      3  Charlie      30
   DeptID     DeptName
0      10           HR
1      20  Engineering
2      40    Marketing

In [ ]:
print(pd.merge(employees, departments, on = "DeptID")) # Inner Join
print(pd.merge(employees, departments, on = "DeptID", how = "left")) # Left Join
print(pd.merge(employees, departments, on = "DeptID", how = "right")) # right join
print(pd.merge(employees, departments, on = "DeptID", how = "outer")) # outer join

   EmpID   Name  DeptID     DeptName
0      1  Alice      10           HR
1      2    Bob      20  Engineering
   EmpID     Name  DeptID     DeptName
0      1    Alice      10           HR
1      2      Bob      20  Engineering
2      3  Charlie      30          NaN
   EmpID   Name  DeptID     DeptName
0    1.0  Alice      10           HR
1    2.0    Bob      20  Engineering
2    NaN    NaN      40    Marketing
   EmpID     Name  DeptID     DeptName
0    1.0    Alice      10           HR
1    2.0      Bob      20  Engineering
2    3.0  Charlie      30          NaN
3    NaN      NaN      40    Marketing

In [15]:
df1 = pd.DataFrame({"Name": ["Alice", "Bob"]})
df2 = pd.DataFrame({"Name": ["Charlie", "David"]})

pd.concat([df1, df2]).reset_index(drop=True)
pd.concat([df1, df2], axis= 1).reset_index(drop=True)

    Name     Name
0  Alice  Charlie
1    Bob    David